parameters:
  level: max
  phpVersion: 80300
  paths:
    - src
    - generated
    - sdkgen
  stubFiles:
    - stubs/naatre.php
  parallel:
    maximumNumberOfProcesses: 1
  tmpDir: ../../.tmp/phpstan
  treatPhpDocTypesAsCertain: true
